
.search-container {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 20px; 
}

.search {
  font-size: 14px; 
  padding: 5px; 
  width: 150px; 
  color: white; 
}