
.pagination{
   
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;


.pagination ul li{
    display: inline-block;
    border: 10px;
    
    
}

.pagination ul li a:hover{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(245, 245, 246);
}

@media screen and (min-width: 768px) {
    .columna {
      width: 50%;
      float: left;
    }
  }
  
 
  @media screen and (max-width: 768px) {
    .columna {
      width: 100%;
      float: none;
    }
  }
}